/* Friends.css */
.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .friends-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .friends-list li {
    margin: 8px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .friends-list li:hover {
    background-color: #f0f0f0;
  }
  
  .selected-friend {
    background-color: #b3daff;
  }
  
  .invite-button {
    margin-top: 16px;
    padding: 12px;
    background-color: #51CBB6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .invite-button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  
  /* Modal Styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }
  