 .grid-container {

  grid-template-columns: repeat(3, 1fr);
  gap: 5px;

 } 
  
.grid-cell {
  height: 100%;
  position: relative;
 
  
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 7px;
}

