.grid-container {
  max-width: 80%;
  max-height: 50%;
  width: 78%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
}

input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 19.9%;
  background-image: url('../public/img/glasses.png');
  background-position: right 8px center; /* 아이콘의 위치 조절 */
  background-repeat: no-repeat;
  background-size: 22px; /* 아이콘의 크기 조절 */
}


/* .grid-row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px; 
}

.grid-col {
  margin-right: 10px; 
}

.grid-col:last-child {
  margin-right: 0;
}

.grid-row img {
  max-width: 100%;
  border: none; 
  
}   */
