.full{
  height: 92%;
  overflow: hidden;
  background:#0B192E;
}
.page {
  top : 50%;
  display: flex;
  margin: 0px auto;
  max-width: 500px;
  border-radius: 5px;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  padding: 20px 50px 0px 50px;
  transform: translate(0%, 13%);
}

.titleWrap {
  margin: 13px 0px;
  color:#0B192E;
  font-size: 26px;
  font-weight: bold;
}

.titleWrapForm{
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.inputTitle {
  color: #262626;
  font-size: 13px;
  font-weight: 600;
  margin-top: 26px;
}

.input {
  width: 100%;
  border: none;
  height: 23px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.inputWrap {
  padding: 5px;
  display: flex;
  margin-top: 20px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}
.inputWrap:focus-within {
  border: 1px solid #9e30f4;
}

.input::placeholder {
  color: #dadada;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 64px;
  margin: 37px 0px;
  background-color: #9e30f4;
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}

.errorMessageWrap {
  color: #ef0000;
  margin-top: 8px;
  font-size: 12px;
}
.submit{
  width: 30%;
  height: 17px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
}
.submitWrap{
  margin-top: 35px;
}